.logistic__container {
  border-radius: 6px;
  padding: 117px 38px;
  background-image: url("../img/logistic.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.logistic__header {
  margin: 0;
  margin-bottom: 54px;
  font-weight: normal;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #212b31;
}
