.working {
  padding-top: 32px;
}
.working__container {
  padding: 0;
  padding-top: 56px;
  padding-bottom: 56px;
  text-align: center;
  border-top: 1px solid #eef2f3;
  border-bottom: 1px solid #eef2f3;
}
.working__img {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
