.xaos {
  padding-top: 72px;
  padding-bottom: 350px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: auto;
  background-image: url("../img/xaos.png");
}
.xaos__header {
  text-align: center;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  color: #212b31;
  margin-top: 0;
  margin-bottom: 16px;
}
.xaos__desc {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 1020px;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #72787d;
}
